<div class="container">
    <div id="slides">
      <%= image_tag "example-slide-1.jpg" %> 
      <%= image_tag "example-slide-2.jpg" %> 
      <%= image_tag "example-slide-3.jpg" %> 
      <%= image_tag "example-slide-4.jpg" %> 
    </div>

  <div class="row" ng-repeat="post in data.posts">
      <h2><a ng-click="viewPost(post.id)">{{ post.title }}</a></h2>
      <p>{{ post.description }}</p>

  </div>
</div>

        <!-- SlidesJS Required: Link to jQuery -->
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <!-- End SlidesJS Required -->

  <script>

    jQuery(function() {
      jQuery('#slides').slidesjs({
        width: 940,
        height: 528
      });
    });
  </script>