<div class="container" style="margin-top: 40px">
  <h1 class="text-center">{{ data.currentPost.title }}</h1>
  <div class="row">
    <p>{{ data.currentPost.description }}</p>
  </div>
  <div class="row">
    <button class="btn btn-default" ng-click="navEditPost(data.postId)">Edit</button>
  </div>
</div>